body {
  background-color: grey;
}
#images.on img.on ,
#images.off img.off {
  display: block;
}
#images.on img.off ,
#images.off img.on {
  display: none;
}
#images img {
  width: 100%;
}
#images {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
