body {
  background-color: #ccc;
}

header {
  text-align: center;
}

#images.on img.on ,
#images.off img.off {
  display: block;
}
#images.on img.off ,
#images.off img.on {
  display: none;
}
#images img {
  width: 100%;
}
header, #images, footer {
  width: 100%;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
}
#images {
  background-color: black;
  padding: 20px;
}
