body {
  background-color: #ccc;
}

header {
  text-align: center;
}

#images img {
  display: none;
  width: 100%;
}
#images.one img.one,
#images.two img.two,
#images.three img.three,
#images.four img.four {
  display: block;
}
header, #images, footer {
  width: 100%;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
}
#images {
  background-color: black;
  padding: 20px;
}
